<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Librarians</h1>
    <ul>
        <% librarians.forEach(function(librarian) { %>
            <li>
                <p>Name: <%= librarian.username %></p>
                <p>Email: <%= librarian.gmail %></p>
                <p>Profile Picture: <img src="<%= librarian.profilePicture %>" alt="<%= librarian.username %>"></p>
                <form action="librarian/<%= librarian._id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
     </ul>

    <h1>Verifying Librarians</h1>
    <ul>
        <% verifyingLibrarians.forEach(function(librarian) { %>
            <li>
                <p>Name: <%= librarian.username %></p>
                <p>Email: <%= librarian.gmail %></p>
                <form action="verifying_librarian/<%= librarian._id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
     </ul>     
</body>
</html>