<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/footer.css"/>
    <link rel="stylesheet" href="/styles/library-role.css"/>
    <link rel="icon" href="images/vxnhe-icon.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Managing</title>
</head>
<body>
    <%- include('./partials_library/navigation.ejs') %>
    <div id="overlay"></div>
    <div id="main">
        <div id="chart-container"></div>
        <div id="lower-container">
            <div id="librarians-container">
                <h1>Librarians</h1>
                <ul>
                    <% librarians.forEach(function(librarian) { %>
                        <li>
                            <p>Name: <%= librarian.username %></p>
                            <p>Email: <%= librarian.gmail %></p>
                            <p>Profile Picture: <img src="/<%= librarian.profilePicture %>" alt="<%= librarian.username %>'s Profile picture"></p>
                            <form action="librarian/<%= librarian._id %>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
            </div>
            
            <div id="verifying-container">
                <h1>Verifying Librarians</h1>
                <ul>
                    <% verifyingLibrarians.forEach(function(librarian) { %>
                        <li>
                            <p>Name: <%= librarian.username %></p>
                            <p>Email: <%= librarian.gmail %></p>
                            <form action="verifying_librarian/<%= librarian._id %>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>  
            </div>
        </div>
        
        
    </div>
    
     
    <%- include('../partials_readers/footer.ejs') %>
    <script defer src="/js/library.js"></script>
    <script src="https://kit.fontawesome.com/5c0d7c8bb2.js" crossorigin="anonymous"></script>
</body>
</html>