<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/search-filter.css" />
    <link rel="icon" href="/images/vxnhe-icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="/js/homepage.js"></script>
</head>

<body>
    <%- include('../partials_readers/head_navigation.ejs') %>

    <main>
        <div class="profile-picture">
            <img src="<%= user.profilePicture %>" alt="<%= user.username %>'s profile picture">
            <button data-modal-target="#pop-up-bookmark" id="book-mark">
                <i class="fa-regular fa-bookmark"></i>
            </button>
            <a href="/reader/profile/change_profile_picture">Change profile picture</a>
        </div>

        <h1 class="p-14">Hello, <%= user.username %></h1>
        <button data-modal-target="#pop-up-bookmark" id="book-mark">
            <i class="fa-regular fa-bookmark"></i>
        </button>

        


        

        
        <div id="overlay"></div>
        <!-- pop up window for bookmark -->
        <div class="pop-up-modal" id="pop-up-bookmark">
            <div class="bookmark-header">
                <div class="title">Example BookMark</div>
                <button data-close-button class="close-modal">&times;</button>
            </div>
            <div class="bookmark-body">
                <div id="popup-change-username">
                    <form action="/reader/profile/update-username" method="POST">
                        <label for="newUsername">New Username:</label>
                        <input type="text" id="newUsername" name="newUsername" required>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>  
            <div class="change-username">
                <!-- <a href="/reader/profile/change_username">Change username</a> -->
                
            </div>
        </div>

    </main>

    <!-- TODO: Change password -->

    <%- include('../partials_readers/footer.ejs') %>
</body>

</html>