<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account Details</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/reader-profile.css" />
    <link rel="icon" href="/images/vxnhe-icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="/js/homepage.js"></script>
    <script defer src="/js/readerProfile.js"></script>
    <script defer src="/js/cartHandler.js"></script>
</head>

<body>
    <%- include('../partials_readers/head_navigation.ejs'), { user: user } %>
    <div class="whole-upper">
        <div class="upper">
            <img class="background" src="/<%= user.background%>" alt="background">
            <div class="user-info">
                <div class="profile-option">
                    <img class="avatar" src="/<%= user.profilePicture %>" alt="<%= user.username %>'s avatar">
                    <div id="reader-name-box">
                        <div class="name"><%= user.username %></div>
                        <div id="email"><%= user.gmail %></div>
                    </div>

                </div>

                <div id="set-buttons">
                    <div class="set-default">
                        <form action="profile/set-default" method="POST">
                            <button type="submit" id="set-default">Set Default</button>
                        </form>
                    </div>

                    <div class="edit-profile">
                        <% if (errors && errors.length > 0) { %>
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <% } %>
                        <button data-modal-target="#pop-up-edit" id="edit">Edit Profile</button>
                    </div>
                </div>

                <div class="pop-up-success" id="popUp-success">
                    <div class="title-success">Success</div>
                    <button data-close-button class="close-modal">&times;</button>
                </div>

                <div class="pop-up-modal" id="pop-up-edit">
                    <div class="edit-header">
                        <div class="title">Edit Profile</div>
                        <button data-close-button class="close-modal">&times;</button>
                    </div>
                    <div class="edit-body">
                        <form id="edit-profile-form" action="/reader/profile/edit-profile" method="POST" enctype="multipart/form-data">
                            <div class="errors-update">

                            </div>
                            <% if (errors && errors.length > 0) { %>
                            <h3>Errors</h3>
                            <ul class="error-messages">
                                <% errors.forEach(error => { %>
                                <li><%= error.msg %></li>
                                <% }); %>
                            </ul>
                            <% } %>
                            
                            <div class="main-user-info">
                                <div class="username-input-box">
                                    <label for="username">User Name</label>
                                    <input type="text" id="username" name="username" >
                                </div>
                                
                                <div class="user-input-box">
                                    <label for="background-pic">Background Image</label>
                                    <div class="image-container">
                                        <img id="background" src="/<%= user.background%>" alt="background">
                                    </div>
                                    <div class="upload-button">
                                        <span>Choose File</span>
                                        <input type="file" name="background" accept="image/*" id="background-pic">
                                    </div>
                                </div>
                                <div class="user-input-box">
                                    <label for="avatar-pic">Avatar</label>
                                    <div class="image-container">
                                        <img class="avatar" src="/<%= user.profilePicture %>" accept="image/*" alt="<%= user.username %>'s avatar">
                                    </div>
                                    <div class="upload-button">
                                        <span>Choose File</span>
                                        <input type="file" name="avatar" accept="image/*" id="avatar-pic">
                                    </div>
                                </div>
                                <div class="confirm-change-box">
                                    <input type="checkbox" name="confirm" id="confirm">
                                    <label for="confirm">Confirm Changes</label>
                                </div>
                                <button type="submit" class="submit-button" data-modal-target="#popUp-success">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div class="menu-list">
                <div class="tab">
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-cart')">My Cart</button>
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-requests')">My Requests</button>
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-pickups')">My Pickups</button>
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-loans')">My Loans</button>
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-wishlist')">My Wishlist</button>
                </div>
            </div>

        </div>
    </div>

    <div class="whole-lower">
        <div class="lower">
            <!-- My cart -->
            <div id="my-cart" class="tabcontent shadow-xl">
                <% if (carts && carts.length > 0) { %>
                <ul>
                    <% carts.forEach(cart => { %>
                    <li class="cart-item" data-cartid="<%= cart._id %>">
                        <div class="flex items-center space-x-4 p-3 border rounded-lg shadow-xl my-4">
                            <div class="flex-grow">
                                <div>Library: <%= cart.library.username %></div>
                                <ul>
                                <% cart.books.forEach(bookEntry => { %>
                                    <% const book = bookEntry.book; %>
                                    <li class="book-item" data-bookid="<%= book._id %>" data-cartid="<%= cart._id %>">
                                        <div class="flex items-center space-x-4 p-3 border rounded-lg mt-2">
                                            <div class="flex-shrink-0">
                                                <img src="/<%= book.cover_1 %>" alt="<%= book.title %>'s cover'" class="w-25 h-40 object-cover rounded-xl">
                                            </div>

                                            <div class="flex-grow">
                                                <% if (book && book.title) { %>
                                                    <p class="text-lg font-semibold ml-10"><%= book.title %></p>
                                                <% } else { %>
                                                    <p class="text-lg font-semibold ml-10">Title not available</p>
                                                <% } %>
                                                <% if (book && book.description) { %>
                                                    <p class="text-sm text-gray-600 ml-10"><%= book.description %></p>
                                                <% } else { %>
                                                    <p class="text-sm text-gray-600 ml-10">Description not available</p>
                                                <% } %>
                                            </div>
                                            <button class="remove-cart-btn text-sm px-2 py-2 mr-20 text-white bg-red-500 rounded hover:bg-red-600" data-cartid="<%= cart._id %>" data-bookid="<%= book._id %>">Remove</button>
                                        </div>
                                    </li>
                                <% }); %>
                                </ul>
                                <button class="send-request-btn px-2 py-2 my-5 text-sm text-white bg-blue-500 rounded hover:bg-blue-600" data-cartid="<%= cart._id %>">Send Request</button>
                            </div>
                        </div>
                    </li>
                    <% }); %>
                </ul>

                <% } else { %>
                <div id="empty-container">Your Cart is Empty</div>
                <% } %>
            </div>

            <!-- my request -->
            <div id="my-requests" class="tabcontent shadow-xl">
                <% if (formattedRequests && formattedRequests.length > 0) { %>
                    <ul>
                        <% formattedRequests.forEach(request => { %>
                        <div class="flex items-center space-x-4 p-4 border rounded-lg shadow-2xl mt-6">
                            <div class="flex-shrink-0">
                                <li class="request-item">
                                    <p><strong>Library:</strong> <%= request.library.username %></p>

                                    <% if (request.status === 'Pending') { %>
                                        <p><strong>Status:</strong>
                                            <span class="text-blue-400"><%= request.status %></span>
                                        </p>
                                    <% } else if (request.status === 'Accepted') { %>
                                        <p><strong>Status:</strong>
                                            <span class="text-green-600"><%= request.status %></span>
                                        </p>
                                    <% } else if (request.status === 'Canceled') { %>
                                        <p><strong>Status:</strong>
                                            <span class="text-red-500"><%= request.status %></span>
                                        </p>
                                    <% } else if (request.status === 'Declined') { %>
                                        <p><strong>Status:</strong>
                                            <span class="text-red-600"><%= request.status %></span>
                                        </p>
                                    <% }; %>

                                    <p><strong>Date created:</strong>
                                        <%= request.createdOn.toLocaleDateString() %></p>
                                </li>
                            </div>

                            <div class="flex-grow">
                                <ul>
                                    <% request.books.forEach(book => { %>
                                    <li class="text-gray-600 ml-10"><%= book.title %></li>
                                    <% }); %>
                                </ul>
                            </div>

                            <% if (request.status === 'Pending') { %>
                                <div class="flex-shrink-0">
                                    <button class="cancel-request-btn text-sm px-2 py-2 mr-20 text-white bg-red-500 rounded hover:bg-red-600" data-requestid="<%= request._id %>">Cancel</button>
                                </div>
                            <% }; %>

                        </div>
                        <% }); %>
                    <% } else { %>
                        <div id="empty-container">You have no book request</div>
                    <% } %> 
                </ul>
            </div>

            <!-- My Pickups -->
            <div id="my-pickups" class="tabcontent shadow-xl">
                <ul>
                    <% if (pickups && pickups.length > 0) { %>
                        <% pickups.forEach(pickup => { %>
                            <li class="flex items-center space-x-4 p-4 border rounded-lg shadow-2xl">
                               <div class="flex-1 min-w-0">
                                   <p class="text-sm font-medium text-gray-900"><strong>Library</strong><%= pickup.library.username %></p>
                                   <p class="text-sm text-gray-500"><strong>Created On: </strong><%= pickup.createdOnFormatted %></p>
                                   <p class="text-sm text-gray-500"><strong>Take Date: </strong><%= pickup.takeDateFormatted %></p>
             
                                   <% if (pickup.status === 'Scheduled') { %>
                                       <p><strong>Status:</strong>
                                           <span class="text-blue-400"><%= pickup.status %></span>
                                       </p>
                                   <% } else if (pickup.status === 'Completed') { %>
                                       <p><strong>Status:</strong>
                                           <span class="text-green-600"><%= pickup.status %></span>
                                       </p>
                                   <% } else if (pickup.status === 'Canceled') { %>
                                       <p><strong>Status:</strong>
                                           <span class="text-red-600"><%= pickup.status %></span>
                                       </p>
                                   <% } %>
                               </div>
                            </li>
                        <% }) %>
                    <% } else {%>
                        <div id="empty-container" >You have no pickup</div>
                    <% } %> 
                </ul>
             </div>
             

            <!-- My Loan -->
            <!-- <div id="my-loans" class="tabcontent">
                <ul>
                    <% if (loans && loans.length > 0) {%>
                        <% loans.forEach(loan => { %>
                        <li>
                            <p><strong>Library:</strong> <%= loan.library.username %></p>
                            <p></p>
                            <ul>
                                <% loan.books.forEach(book => { %>
                                <li>
                                    <p><%= book.book.title %></p>
                                </li>
                                <% }); %>
                            </ul>
                        </li>
                        <% }); %>
                    <% } else { %>
                        <div id="empty-container" >You have no loan</div>
                    <% } %>
                </ul>
            </div> -->

            <main id="my-loans" class="tabcontent shadow-xl">
                <section class="table_header">
                    
                    <div class="input-group">
                        <input type="search" placeholder="Search Book...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </section>
                <section class="table_body">
                    <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>library</th>
                                <th>Location</th>
                                <th>DueDate</th>
                                <th>Status</th>
                                <th>Books</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let counter = 0; %>
                            <% if (loans && loans.length > 0) {%>
                                <% loans.forEach(loan => { %>
                                <tr> 
                                    <td><%= ++counter %></td>
                                    <td class="title"><img src="/<%= loan.library.profilePicture %>" alt="Library">
                                        <p><a href="/reader/library-profile/<%= loan.library._id %>"> <%= loan.library.username %> </a></p>
                                    </td>
                                    <td>
                                        <p><%= loan.library.location.formattedAddress %></p>
                                    </td>
                                    <td>
                                        <p><%= loan.dueDateFormatted  %></p>
                                    </td>
                                    <td>
                                        <% if (loan.status == "Returned") { %>
                                        <p style="color: rgb(5, 235, 5);"><%= loan.status %></p>
                                        <% } else if (loan.status == "Ongoing") { %>
                                        <p style="color:rgb(59, 201, 206);"><%= loan.status %></p>
                                        <% } else if (loan.status == "Overdue") { %>
                                        <p style="color: rgb(248, 244, 7);"><%= loan.status %></p>
                                        <% } else {%>
                                        <p style="color: red;"><%= loan.status %></p>
                                        <% } %>
                                    </td>
                                    <td>
                                        <ul>
                                            <% loan.books.forEach(book => { %>
                                            <li>
                                                <p>- <a href="/reader/book_detail/<%= book.book._id %>"><%= book.book.title %></a></p>
                                            </li>
                                            <% }); %>
                                        </ul>
                                    </td>
                                </tr>
                                <% }) %>
                            <% }; %>
                        </tbody>
                    </table>
                </section>
            </main>

            <!-- My Wishlist -->
            <div id="my-wishlist" class="tabcontent shadow-xl">
                <ul>
                    <% if (wishList && wishList.length > 0) { %> 
                    <% wishList.forEach( book => { %>
                            <li class="item" data-bookid="<%= book._id %>">
                                <div class="flex items-center space-x-4 p-4 border rounded-lg shadow-2xl mt-6">
                                    <div class="flex-shrink-0">
                                        <img src="/<%= book.cover_1 %>" alt="<%= book.title %>'s cover'" class="w-25 h-40 object-cover rounded-xl">   
                                    </div>
                                    <div class="flex-grow ">
                                        <div class="flex items-center space-x-4">
                                            <p class="text-4xl mr-12 font-semibold ml-10"><%= book.title %></p> 
                                        </div>
                                        <p class="text-gray-600 mt-2 ml-10"><%= book.description %></p>
                                        <button class="remove" data-bookid="<%= book._id %>"><i class="fa-solid fa-trash hover:text-red-500  ml-10"></i></button>
                                        <a id="view-detail" class="hover:text-blue-500 ml-5" href="/reader/book_detail/<%= book._id %>">View</a>
                                    </div>
                                </div>
                            </li>
                        
                    <% }) %>
                    <% } else { %>
                        <div id="empty-container">Your WishList is Empty</div>
                    <% } %> 
                </ul>
            </div>
        </div>
    </div>

    <%- include('../partials_readers/footer.ejs') %>
</body>
<script src="https://kit.fontawesome.com/5c0d7c8bb2.js" crossorigin="anonymous"></script>

</html>
