<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account Details</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/reader-profile.css" />
    <link rel="icon" href="/images/vxnhe-icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="/js/homepage.js"></script>
    <script defer src="/js/readerProfile.js"></script>
    <script defer src="/js/cartHandler.js"></script>
</head>

<body>
    <%- include('../partials_readers/head_navigation.ejs'), { user: user } %>
    <div class="whole-upper">
        <div class="upper">
            <img class="background" src="/<%= user.background%>" alt="background">
            <div class="user-info">
                <div class="profile-option">
                    <img class="avatar" src="/<%= user.profilePicture %>" alt="<%= user.username %>'s avatar">
                    <div id="reader-name-box">
                        <div class="name"><%= user.username %></div>
                        <div id="email"><%= user.gmail %></div>
                    </div>

                </div>

                <div id="set-buttons">
                    <div class="set-default">
                        <form action="profile/set-default" method="POST">
                            <button type="submit" id="set-default">Set Default</button>
                        </form>
                    </div>

                    <div class="edit-profile">
                        <% if (errors && errors.length > 0) { %>
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <% } %>
                        <button data-modal-target="#pop-up-edit" id="edit">Edit Profile</button>
                    </div>
                </div>

                <div class="pop-up-success" id="popUp-success">
                    <div class="title-success">Success</div>
                    <button data-close-button class="close-modal">&times;</button>
                </div>

                <div class="pop-up-modal" id="pop-up-edit">
                    <div class="edit-header">
                        <div class="title">Edit Profile</div>
                        <button data-close-button class="close-modal">&times;</button>
                    </div>
                    <div class="edit-body">
                        <form id="edit-profile-form" action="/reader/profile/edit-profile" method="POST" enctype="multipart/form-data">
                            <div class="errors-update">

                            </div>
                            <% if (errors && errors.length > 0) { %>
                            <h3>Errors</h3>
                            <ul class="error-messages">
                                <% errors.forEach(error => { %>
                                <li><%= error.msg %></li>
                                <% }); %>
                            </ul>
                            <% } %>
                            
                            <div class="main-user-info">
                                <div class="username-input-box">
                                    <label for="username">User Name</label>
                                    <input type="text" id="username" name="username" >
                                </div>
                                
                                <div class="user-input-box">
                                    <label for="background-pic">Background Image</label>
                                    <div class="image-container">
                                        <img id="background" src="/<%= user.background%>" alt="background">
                                    </div>
                                    <div class="upload-button">
                                        <span>Choose File</span>
                                        <input type="file" name="background" accept="image/*" id="background-pic">
                                    </div>
                                </div>
                                <div class="user-input-box">
                                    <label for="avatar-pic">Avatar</label>
                                    <div class="image-container">
                                        <img class="avatar" src="/<%= user.profilePicture %>" accept="image/*" alt="<%= user.username %>'s avatar">
                                    </div>
                                    <div class="upload-button">
                                        <span>Choose File</span>
                                        <input type="file" name="avatar" accept="image/*" id="avatar-pic">
                                    </div>
                                </div>
                                <div class="confirm-change-box">
                                    <input type="checkbox" name="confirm" id="confirm">
                                    <label for="confirm">Confirm Changes</label>
                                </div>
                                <button type="submit" class="submit-button" data-modal-target="#popUp-success">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div class="menu-list">
                <div class="tab">
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-cart')">My Cart</button>
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-requests')">My Requests</button>
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-loans')">My Loans</button>
                    <button class="tablinks custom-text-orange" onclick="openCity(event, 'my-wishlist')">My Wishlist</button>
                </div>
            </div>

        </div>
    </div>

    <div class="whole-lower">
        <div class="lower">
            <div id="my-cart" class="tabcontent">
                <h3 class="text-center text-6xl custom-text-orange mt-8">My Cart</h3>
                <% if (carts && carts.length > 0) { %>
                <ul>
                    <% carts.forEach(cart => { %>
                    <li>
                        <div class="cart-item flex items-center space-x-4 p-4 border rounded-lg shadow-xl mt-6">
                        <div class="flex-shrink-0">
                            <!-- <p>Library: <%= cart.library.name %></p> -->
                        </div>
                        <div class="flex-grow">
                            <ul>
                            <% cart.books.forEach(bookEntry => { %>
                                <li>
                                <% const book = bookEntry.book; %>
                                <div class="book-item flex items-center space-x-4 p-3 border rounded-lg mt-2">
                                    <div class="flex-shrink-0">
                                    <% if (book.coverImages && book.coverImages.length > 0) { %>
                                        <img src="/<%= book.coverImages[0] %>" alt="Image" class="max-w-20 rounded-xl">
                                    <% } else { %>
                                        <img src="/images/default-book-cover.jpg" alt="Image" class="max-w-20 rounded-xl">
                                    <% } %>
                                    </div>
                                    <div class="flex-grow">
                                    <% if (book && book.title) { %>
                                        <p class="text-xl font-semibold ml-10"><%= book.title %></p>
                                    <% } else { %>
                                        <p class="text-xl font-semibold ml-10">Title not available</p>
                                    <% } %>
                                    <% if (book && book.description) { %>
                                        <p class="text-gray-600 ml-10"><%= book.description %></p>
                                    <% } else { %>
                                        <p class="text-gray-600 ml-10">Description not available</p>
                                    <% } %>
                                    </div>
                                    <div class="flex-shrink-0">
                                    <button class="remove-cart-btn px-4 py-3 mr-20 text-white bg-red-500 rounded hover:bg-red-600" data-cartid="<%= cart._id %>" data-bookid="<%= book._id %>">Remove</button>
                                    </div>
                                </div>
                                </li>
                            <% }); %>
                            </ul>
                        <button class="send-request-btn px-4 py-3 my-5 text-white bg-blue-500 rounded hover:bg-blue-600" data-cartid="<%= cart._id %>">Send Request</button>
                    </li>
                    <% }); %>
                </ul>
                <% } else { %>
                <div id="empty-container">Your Cart is Empty</div>
                <% } %>


            <div id="my-requests" class="tabcontent">
                <h3 class="text-center text-6xl custom-text-orange mt-8  ">My Requests</h3>
                <ul>
                    <% formattedRequests.forEach(request => { %>
                    <div class="flex items-center space-x-4 p-4 border rounded-lg shadow-2xl mt-6">
                        <div class="flex-shrink-0">
                            <li>
                                <p><strong>Library:</strong> <%= request.library.username %></p>
                                <p><strong>Status:</strong> <%= request.status %></p>
                                <p><strong>Pickup Date:</strong>
                                    <%= request.pickupDate ? request.pickupDate.toLocaleDateString() : 'N/A' %></p>
                                <div class="flex-grow ">
                                    <ul>
                                        <% request.books.forEach(book => { %>
                                        <li class="text-gray-600 ml-10"><%= book.title %></li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </li>
                        </div>
                    </div>
                    <% }); %>
                </ul>
            </div>

            <div id="my-loans" class="tabcontent">
                <h3 class="text-center text-6xl custom-text-orange mt-8  ">My Loans</h3>
                <ul>
                    <% loans.forEach(loan => { %>
                    <li>
                        <p><strong>Library:</strong> <%= loan.library.name %></p>
                        <ul>
                            <% loan.books.forEach(book => { %>
                            <li><%= book.title %></li>
                            <% }); %>
                        </ul>
                    </li>
                    <% }); %>
                </ul>
            </div>

            <div id="my-wishlist" class="tabcontent">
                <h3 class="text-center text-6xl custom-text-orange mt-8 ">My Wishlist</h3>
                <ul>
                    <% if (wishList && wishList.length > 0) { %> 
                    <% wishList.forEach( book => { %>
                            <li class="item" data-bookid="<%= book._id %>">
                                <div class="flex items-center space-x-4 p-4 border rounded-lg shadow-2xl mt-6">
                                    <div class="flex-shrink-0">
                                        <div class="img">
                                            <img src="/<%= book.coverImages[0] %>" alt="<%= book.title %>'s Cover" class="w-40 h-52 rounded-xl">
                                        </div>
                                    </div>
                                    <div class="flex-grow ">
                                        <div class="flex items-center space-x-4">
                                            <p class="text-4xl mr-12 font-semibold ml-10"><%= book.title %></p>
                                            <button class="remove" data-bookid="<%= book._id %>"><i class="fa-solid fa-trash hover:text-red-500"></i></button>
                                            <a id="view-detail" class="hover:text-blue-500" href="/reader/book_detail/<%= book._id %>">View</a>
                                        </div>
                                        <p class="text-gray-600 mt-2 ml-10"><%= book.description %></p>
                                    </div>
                                </div>
                            </li>
                        
                    <% }) %>
                    <% } else { %>
                        <div id="empty-container">Your WishList Empty</div>
                    <% } %> 
                </ul>
            </div>
        </div>
    </div>

    <%- include('../partials_readers/footer.ejs') %>
</body>
<script src="https://kit.fontawesome.com/5c0d7c8bb2.js" crossorigin="anonymous"></script>

</html>
