<!-- function to build the pagination links -->
<% function buildPaginationLink(page) {
    const searchParams = new URLSearchParams(searchOptions);

    searchParams.set('page', page);
    return `/reader/search?${searchParams.toString()}`;
} %>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/search-filter.css" />
    <link rel="icon" href="/images/vxnhe-icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="/js/homepage.js"></script>
</head>

<header>
    <%- include("../partials_readers/head_navigation.ejs") %>
</header>

<body>

    <main class="search-result grid grid-cols-4 pt-14">
        <aside class="search-filter col-span-1">
            <form action="/reader/search" method="get">
                <div class="search-filter-header border-none">
                    <h2 class="title">Search Options</h2>
                </div>

                <div class="search-filter-body">
                    <div class="search-option">
                        <label for="title" class="search-option-label">Title:</label>
                        <input class="search-title-input" type="text" name="title" id="title"
                            value="<%= searchOptions.title %>">
                    </div>

                    <div class="search-option">
                        <label for="publishedBefore" class="search-option-label">Published Before:</label>
                        <input type="date" name="publishedBefore" id="publishedBefore"
                            value="<%= searchOptions.publishedBefore %>">
                    </div>

                    <div class="search-option">
                        <label for="publishedAfter" class="search-option-label">Published After:</label>
                        <input type="date" name="publishedAfter" id="publishedAfter"
                            value="<%= searchOptions.publishedAfter %>">
                    </div>

                    <div class="search-option">
                        <label class="search-option-label">Categories:</label>
                        <br>
                        <div class="categories-select">
                            <% categories.forEach(category=> { %>
                            <label for="category">
                                <input type="checkbox" name="category" value="<%= category %>" <%=searchOptions.category &&
                                searchOptions.category.includes(category) ? 'checked' : '' %>>
                                <%= category %>
                            </label>
                            <% }); %>
                        </div>
                    </div>

                    <div class="search-option">
                        <label for="available" class="search-option-label">Available Only:</label>
                        <input type="checkbox" name="available" id="available" <%=searchOptions.available ? 'checked'
                        : '' %>>
                    </div>

                    <button type="submit" class="search-btn">Update Search</button>
                </div>
            </form>
        </aside>
        <section class="col-span-3 search-result-container">
            <h2 id="search-result-title">Search Results</h2>
                <% if (books.length> 0) { %>
                <ul class="search-result-display">
                    <% books.forEach(book=> { %>
                        <div class="card swiper-slide">
                            <div class="image-box">
                              <img src="/<%= book.cover_1%> " alt="<%= book.title %>'s Image" />
                            </div>
                            <div class="book-details">
                              <div class="detail-box"> 
                                <h1><%= book.title %></h1>
                                <p><%= book.description %></p>
                              </div>
                          
                                <a href="/reader/book_detail/<%= book._id %>" class="view-more-button">View details</a>
                                <% if (user && user.__t == "Reader") { %> 
                                  <% if (user.wishList && user.wishList.includes(book._id)) { %>
                                    <i class="bookmark-icon fa-star fas" data-bookid="<%= book._id %>"></i>
                                  <%} else if (user.wishList && !user.wishList.includes(book._id)) { %> 
                                    <i class="bookmark-icon far fa-star" data-bookid="<%= book._id %>"></i>
                                  <%}%> 
                                <% } %>
                              
                            </div>
                        </div>
                    <!-- <a href="/reader/book_detail/<%= book.id %>">
                    <li>
                        <% if (book.cover_1) { %>
                            <img src="/<%= book.cover_1 %>" alt="<%= book.title %>'s' cover" class="book-cover w-32">
                        <% } else if (book.cover_2) { %>
                            <img src="/<%= book.cover_2 %>" alt="<%= book.title %>'s' cover" class="book-cover w-32">
                        <% } else if (book.cover_3) { %>
                            <img src="/<%= book.cover_3 %>" alt="<%= book.title %>'s' cover" class="book-cover w-32">
                        <% } else { %>
                            <img src="/uploads/default_book_cover.jpg" alt="book cover" class="book-cover w-32">
                        <% } %>
                        <h3>
                            <%= book.title %>
                        </h3>
                        <p>
                            Author: <%= book.author %>
                        </p>
                    </li>
                    </a> -->
                    <% }); %>
                </ul>


                <% } else { %>
                <p>No books found.</p>
                <% } %>
            <!-- Pagination Controls -->
            <div class="pagination">
                <% if (books.previous) { %>
                <a href="<%= buildPaginationLink(books.previous.page) %>"> < </a>
                <% } %>

                <!-- Page Buttons -->
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="<%= buildPaginationLink(i) %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
                <% } %>

                <% if (books.next) { %>
                <a href="<%= buildPaginationLink(books.next.page) %>"> > </a>
                <% } %>
            </div>
        </section>
    </main>

    <%- include('../partials_readers/footer.ejs') %>

</body>

</html>
