<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/vxnhe-icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/librarian-role.css">
    <link rel="stylesheet" href="/styles/footer.css"/>
    <link rel="stylesheet" href="/styles/customer.css">
    <link rel="stylesheet" href="/styles/borrow.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <%- include('./partials-librarian/nav-librarian.ejs')%>
    <!-- TODO: Add close button to forms -->
    

    <div id="overlay"></div>
    <!-- Return form -->
    <div class="pop-up-modal" id="pop-up-Returned">
        <div class="Returned-header">
          <div class="title">Returned</div>
          <button data-close-button class="close-modal">&times;</button>
        </div>
        <div id="Returned-body">
          <form id="returnForm" method="post" action="/librarian/borrow/return/<%= borrow._id %>" class="  px-8 pt-6 pb-8 mb-4">
            <ul class="list-none">
              <% borrow.books.forEach(book => { %>
                <li class="mb-4">
                  <p class="mb-2 text-gray-600">Title: <%= book.book.title %></p>
                  <div class="flex items-center">
                    <input type="checkbox" name="returned[]" id="returned_<%= book.book._id %>" value="<%= book.book._id %>" <%= book.status !== 'outstanding' ? 'checked disabled' : '' %> class="h-4 w-4 text-blue-600 border-gray-300 rounded">
                    <label for="returned" class="ml-2 block text-sm font-medium text-gray-700">Mark as returned</label>
                  </div>
                  <div class="flex items-center mt-2">
                    <input type="checkbox" name="lost[]" id="lost_<%= book.book._id %>" value="<%= book.book._id %>" <%= book.status !== 'outstanding' ? 'checked disabled' : '' %> class="h-4 w-4 text-blue-600 border-gray-300 rounded">
                    <label for="lost" class="ml-2 block text-sm font-medium text-gray-700">Mark as lost</label>
                  </div>
                  
                </li>
              <% }); %>
            </ul>
            <input type="submit" value="Submit" id="submit-btn">
          </form>
          
        </div>
     </div>

    <!-- Overdue form -->
    <div class="pop-up-modal" id="pop-up-Overdue">
        <div class="Overdue-header">
          <div class="title">Overdue</div>
          <button data-close-button class="close-modal">&times;</button>
        </div>

        <div id="Overdue-body">
          <form action="/librarian/borrow/overdue/<%= borrow._id %>" method="post" id="overdueForm" class="p-4   rounded">
            <input type="submit" value="Submit" >
          </form>          
        </div>
    </div>

    <!-- Cancel form -->
    <div class="pop-up-modal" id="pop-up-Canceled">
        <div class="Cancel-header">
          <div class="title">Cancel</div>
          <button data-close-button class="close-modal">&times;</button>
        </div>
        <div id="Cancel-body">
          <form action="/librarian/borrow/cancel/<%= borrow._id %>" method="post" id="cancelForm" class="max-w-lg mx-auto space-y-4">
            <label for="reason">Reason:</label>
            <textarea name="reason" id="reason" cols="30" rows="10" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
            <input type="submit" value="Submit" >
          </form>
        </div>
    </div>

    <!-- Change date form -->
    <div class="pop-up-modal" id="pop-up-ChangeDate">
        <div class="ChangeDate-header">
          <div class="title">Change Date</div>
          <button data-close-button class="close-modal">&times;</button>
        </div>
        <div id="ChangeDate-body">
          <form id="changeDateForm" method="post" action="/librarian/borrow/update_date/<%= borrow._id %>" onsubmit="return validateDate('dueDate')" >
            <div class="mb-4">
              <label for="dueDate" class="block text-gray-700 text-sm font-bold mb-2">New Return Date:</label>
              <input type="date" id="dueDate" name="dueDate" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-between">
              <input type="submit" value="Submit" id="submit-btn" >
            </div>
          </form>          
        </div>
    </div>
     
    <main>
      <div class="triangle-line">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <!-- Add more triangles as needed -->
    </div>
    <!-- Extra Description Section -->
    <div class="extra-description">
        <h2 class="borrow-header">Borrow Details</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-10 pb-10">
          <!-- Card Holder 1 -->
          <div class="p-4 rounded-md" id="extra-information">
            <div class=" w-10 h-10 mx-auto mb-4">
              <img src="/images/calendar-days-regular.svg" alt="Image 1" class="w-full h-full">
            </div>
            <h3 class="text-xl font-bold mb-2 text-center">Pickup date</h3>
            <p class="text-center"><%= borrow.takeDateFormatted %></p>
          </div>
          <div class="p-4 rounded-md" id="extra-information">
            <div class=" w-10 h-10 mx-auto mb-4">
              <img src="/images/calendar.svg" alt="Image 1" class="w-full h-full">
            </div>
            <h3 class="text-xl font-bold mb-2 text-center">End date</h3>
            <p class="text-center"><%= borrow.dueDateFormatted %></p>
          </div>
          <div class="p-4 rounded-md" id="extra-information">
            <div class=" w-10 h-10 mx-auto mb-4">
              <img src="/images/clock-solid.svg" alt="Image 1" class="w-full h-full">
            </div>
            <h3 class="text-xl font-bold mb-2 text-center">Duration</h3>
            <% if (borrow.duration && borrow.duration > 1) { %>
            <p class="text-center"><%= borrow.duration %> days</p>
            <% } else { %> 
            <p class="text-center"><%= borrow.duration %> day</p>
              <% } %>
          </div>
          <div class="p-4 rounded-md" id="extra-information">
            <div class=" w-10 h-10 mx-auto mb-4">
              <img src="/images/book-solid.svg" alt="Image 1" class="w-full h-full">
            </div>
            <h3 class="text-xl font-bold mb-2 text-center">Books number</h3>
            <% if (borrow.books && borrow.books.length > 1) { %>
            <p class="text-center"><%= borrow.books.length %> Books</p>
            <% } else { %> 
            <p class="text-center"><%= borrow.books.length %> Book</p>
            <% } %>
          </div>
          <div class="p-4 rounded-md" id="extra-information">
            <div class=" w-10 h-10 mx-auto mb-4">
              <img src="/images/map-location-dot-solid.svg" alt="Image 1" class="w-full h-full">
            </div>
            <h3 class="text-xl font-bold mb-2 text-center">Pickup Location</h3>
            <p class="text-center"><%= user.library.location.formattedAddress %></p>
          </div>
          <div class="p-4 rounded-md" id="extra-information">
            <div class=" w-10 h-10 mx-auto mb-4">
              <img src="/images/ellipsis-solid.svg" alt="Image 1" class="w-full h-full">
            </div>
            <h3 class="text-xl font-bold mb-2 text-center">Borrow status</h3>
            <p class="text-center"><%= borrow.status %></p>
          </div>
        </div>
      <!-- Buttons to change status -->
      <% if(borrow.status !== 'Returned') { %>
        <!-- Button display form to change date -->
        <div id="btn-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-10 px-10">
            <button data-modal-target="#pop-up-Returned" id="mark-Returned">Mark as Returned</button>
            <button data-modal-target="#pop-up-Canceled" id="mark-Canceled">Mark as Canceled</button>
            <button data-modal-target="#pop-up-Overdue" id="mark-Overdue">Mark as Overdue</button>
            <% if(borrow.status === 'Ongoing' || borrow.status === 'Overdue') { %>
              <!-- Button display form to change date -->
              <button data-modal-target="#pop-up-ChangeDate" id="change-date-button">Change Return Date</button> 
            <% } %>
        </div>
      <% } %>
      
      <div id="listOfBooks">
        <h2 class="font-bold mb-2 text-center" id="title">List of Books:</h2>
        <ul>
          <% borrow.books.forEach(book => { %>
            
            <a href="/librarian/book_detail/<%= book.book._id %>">
              <li>
                <img src="/<%= book.book.cover_1%>">
                <span>
                  <%= book.book.title %> - Status: <%= book.status %>
                </span>
              </li>
            </a>
            
          <% }); %>
        </ul>
      </div>

    </div>
    <div class="triangle-line">
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
      <div class="triangle-flip"></div>
    
      <!-- Add more triangles as needed -->
    </div>

    </main>
     
    <%- include("../partials_readers/footer.ejs") %>
</body>
<script>
        function validateDate(id) {
            var selectedDate = document.getElementById(id).value;
            var today = new Date().toISOString().split('T')[0]; // Get today's date in the 'YYYY-MM-DD' format

            if (selectedDate < today) {
                  alert("Please select a date that is today or in the future.");
                return false;
            }
            return true;
        }

        window.onload = function() {
        var returnedCheckboxes = document.querySelectorAll('[id^="returned"]');
        var lostCheckboxes = document.querySelectorAll('[id^="lost"]');

        returnedCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    var correspondingLostCheckbox = document.getElementById('lost_' + this.value);
                    correspondingLostCheckbox.disabled = true;
                } else {
                    var correspondingLostCheckbox = document.getElementById('lost_' + this.value);
                    correspondingLostCheckbox.disabled = false;
                }
            });
        });

        lostCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    var correspondingReturnedCheckbox = document.getElementById('returned_' + this.value);
                    correspondingReturnedCheckbox.disabled = true;
                } else {
                    var correspondingReturnedCheckbox = document.getElementById('returned_' + this.value);
                    correspondingReturnedCheckbox.disabled = false;
                }
            });
        });
        };

     </script>
<script src="/js/librarian-role.js"></script>
</html>