<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Display Requests -->
  <% if (data.requests && data.requests.length > 0) { %>
    <h2>Requests</h2>
    <ul>
        <% data.requests.forEach(request => { %>
            <li>
                <p>Reader: <%= request.reader.username %></p>
                <p>Created On: <%= request.createdOn %></p>
                <p>Number of Books: <%= request.books.length %></p>
                <p>Status: <%= request.status %></p>
            </li>
        <% }); %>
    </ul>
  <% } %>

  <!-- Display Pickups -->
  <% if (data.pickups && data.pickups.length > 0) { %>
    <h2>Pickups</h2>
    <ul>
        <% data.pickups.forEach(pickup => { %>
            <li>
                <p>Reader: <%= pickup.reader.username %></p>
                <p>Created On: <%= pickup.createdOn %></p>
                <p>Number of Books: <%= pickup.books.length %></p>
                <p>Status: <%= pickup.status %></p>
            </li>
        <% }); %>
    </ul>
  <% } %>

  <!-- Display Borrows -->
  <% if (data.borrows && data.borrows.length > 0) { %>
    <h2>Borrows</h2>
    <ul>
        <% data.borrows.forEach(borrow => { %>
            <li>
                <p>Reader: <%= borrow.reader.username %></p>
                <p>Created On: <%= borrow.createdOn %></p>
                <p>Number of Books: <%= borrow.books.length %></p>
                <p>Status: <%= borrow.status %></p>
            </li>
        <% }); %>
    </ul>
  <% } %>

</body>
</html>