<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/vxnhe-icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/librarian-role.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Inventory management</title>
</head>
<body>
    <%- include('./partials-librarian/nav-librarian.ejs')%>
    <h1>Book Inventory</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Link</th>
                <th>Title</th>
                <th>Author</th>
                <th>Amount</th>
                <th>Available</th>
                <th>Date Imported</th>
            </tr>
        </thead>
        <tbody>
            <% data.books.forEach(book => { %>
                <tr>
                    <td><a href="/librarian/book_detail/<%= book._id %>">Link</a></td>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td><%= book.amount %></td>
                    <td><%= book.available %></td>
                    <td><%= book.dateImported.toDateString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>