<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        /* Styles for the pop-up forms */
        .popup-form {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }

        /* Style for the close button */
        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    </style>
    <title>Pickup detail</title>
</head>
<body>
    <!-- Show information of the pickup -->
    <!-- Show buttons to complete, or cancel the pickup -->
    <!-- Using Canceling or completing pickup buttons will pop up a form to complete  -->
    <div class="container">
        <h1>Pickup Details</h1>
        <p><strong>Reader:</strong> <%= pickup.reader.gmail %></p>
        <p><strong>Books:</strong></p>
        <ul>
            <% pickup.books.forEach(book => { %>
                <li><%= book.title %></li>
            <% }); %>
        </ul>
        <p><strong>Created On:</strong> <%= pickup.createdOn %></p>
        <p><strong>Take Date:</strong> <%= pickup.takeDate %></p>

        <% if(pickup.status === 'Scheduled') { %>
            <!-- Button display form to change date -->
            <button onclick="showForm('changeDateForm')">Change Pickup Date</button> 
        <% } %>
        
        <p><strong>Status:</strong> <%= pickup.status %></p>
    </div>

    <!-- Button to pop up the forms -->
    <div>
        <% if (pickup.status !== 'Completed') { %>
            <button onclick="showForm('completeForm')">Mark as Completed</button>
            <button onclick="showForm('cancelForm')">Mark as Canceled</button>
        <% } %>
    </div>

    <!-- Complete button -->
    <div id="completeForm" class="popup-form">
        <span class="close-button" onclick="hideForm('completeForm')">&times;</span>
        <form action="/librarian/pickup/complete/<%= pickup._id %>" method="POST" onsubmit="return validateDueDate('dueDate', '<%= pickup.takeDate %>')">
            <input type="date" name="dueDate" id="dueDate" required>
            <button type="submit">Confirm</button>
        </form>
    </div>

    <!-- Cancel button -->
    <div id="cancelForm" class="popup-form">
        <span class="close-button" onclick="hideForm('cancelForm')">&times;</span>
        <form action="/librarian/pickup/cancel/<%= pickup._id %>" method="POST">
            <textarea name="cancelReason" id="cancelReason" cols="30" rows="10" required></textarea>
            <button type="submit">Confirm</button>
        </form>
    </div>

    <div id="changeDateForm" class="popup-form">
        <span class="close-button" onclick="hideForm('changeDateForm')">&times;</span>
        <form action="/librarian/pickup/update_date/<%= pickup._id %>" method="POST" onsubmit="return validateDate('takeDate')">
            <input type="date" name="takeDate" id="takeDate" required>
            <button type="submit">Confirm</button>
        </form>
    </div>

    <script>
        // JavaScript function to show the specified form
        function showForm(formId) {
            // Hide all forms
            document.querySelectorAll('.popup-form').forEach(form => {
                form.style.display = 'none';
            });

            // Show the selected form
            document.getElementById(formId).style.display = 'block';
        }

        // JavaScript function to hide the specified form
        function hideForm(formId) {
            // Hide the selected form
            document.getElementById(formId).style.display = 'none';
        }

        function validateDate(id) {
            var selectedDate = document.getElementById(id).value;
            var today = new Date().toISOString().split('T')[0]; // Get today's date in the 'YYYY-MM-DD' format

            if (selectedDate < today) {
                  alert("Please select a date that is today or in the future.");
                return false;
            }
            return true;
        }

        function validateDueDate(id, pickupDate) {
            var selectedDate = document.getElementById(id).value;
            var pickupDateFormatted = new Date(pickupDate).toISOString().split('T')[0];
            var today = new Date().toISOString().split('T')[0];

            if (selectedDate < today || selectedDate < pickupDateFormatted) {
                alert("Please select a date that is after today and the pickup date.");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
