<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="images/vxnhe-icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/librarian-role.css">
    <link rel="stylesheet" href="/styles/footer.css"/>
    <link rel="stylesheet" href="/styles/swiper-bundle.min.css">
    <link rel="stylesheet" href="/styles/borrow.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Request page</title>
</head>
<body>
    <%- include('./partials-librarian/nav-librarian.ejs')%>
    <% if (error) { %>
        <div class="alert alert-danger">
            <li><%= error %></li>
        </div>
    <% } %>
    <h2 class="request-header">Request Details</h2>
    <div class="profile-section">
        <!-- Profile Image -->
        <img src="/<%= request.reader.profilePicture %>" alt="Profile Image" class="profile-image">

        <!-- Profile Details (2 Column) -->
        <div class="profile-details">
            <h1 class="profile-name"><%= request.reader.username %></h1>
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 gap-10 pb-10">
              <!-- Card Holder 1 -->
              <div class="p-4 rounded-md" id="extra-reader-info">
                <div class=" w-10 h-10 mx-auto mb-4">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#163020" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                </div>
                <h3 class="text-xl font-bold mb-2 text-center">Email</h3>
                <p class="text-center"><%= request.reader.gmail %></p>
              </div>
              <div class="p-4 rounded-md" id="extra-reader-info">
                <div class=" w-10 h-10 mx-auto mb-4">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#163020" d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
                </div>
                <h3 class="text-xl font-bold mb-2 text-center">Member since</h3>
                <p class="text-center"><%= request.reader.joinedOnFormatted %></p>
              </div>
              <div class="p-4 rounded-md" id="extra-reader-info">
                <div class=" w-10 h-10 mx-auto mb-4">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#163020" d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
                </div>
                <h3 class="text-xl font-bold mb-2 text-center">Books requesting</h3>
                <% if (request.books) {%>
                <p class="text-center"><%= request.books.length %></p>
                <% } %>
                
              </div>
              
            </div>
        </div>
    </div>
    
    
  <div class="borrowing-cont">
  <h1 class="sect-header">Requesting books</h1>
  <div class="container swiper">
    <div class="slide-container">
      <div class="card-wrapper swiper-wrapper">
        <% request.books.forEach(book => { %>
            <li class="card swiper-slide">
                <label onclick="window.location.href='/librarian/book_detail/<%= book._id %>'">
                    <div class="image-box">
                        <img src="/<%= book.cover_1 %>" alt="<%= book.title %>" />
                      </div>
                      <div class="profile-details">
                        <h1><%= book.title %></h1>
                        <h2><%= book.author %></h2>
                      </div>
                </label>
            </li>
        <% }); %>
        
      </div>
    </div>
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="interact-buttons">
      <% if (request.status === 'Pending') { %>
            <button data-modal-target="#pop-up-accept" id="acceptBtn">
              Accept
            </button>

            <button data-modal-target="#pop-up-decline" id="decline-pop-Btn">
              Decline
            </button>
            <div id="overlay"></div>
            <!-- popup for decline  -->
            <div class="pop-up-modal" id="pop-up-decline">
              <div class="decline-header">
                <div class="title">Decline</div>
                <button data-close-button class="close-modal">&times;</button>
              </div>
              <div class="decline-body">
                <form action="/librarian/request/decline/<%= request._id %>" method="POST" class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
                  <div class="mb-4">
                    <label for="declineReason" class="block text-sm font-medium text-gray-700"><strong>Reason for Decline</strong></label>
                    <textarea name="declineReason" id="declineReason" rows="4" class="mt-1 block w-full p-2.5 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Please provide the reason for declining the request"></textarea>
                  </div>
                  <div >
                    <button id="declineBtn" >Decline</button>
                  </div>
                </form>
              </div>
            </div>
            
            <!-- popup for accept -->
            <div class="pop-up-modal" id="pop-up-accept">
              <div class="accept-header">
                <div class="title">Accept</div>
                <button data-close-button class="close-modal">&times;</button>
              </div>
              <div class="accept-body">
                <form action="/librarian/request/accept/<%= request._id %>" method="POST" id="datePicker" class="bg-white p-6 rounded-lg shadow-md">
                  <div class="space-y-4">
                      <% request.books.forEach(book => { %>
                          <div class="flex items-center">
                              <input type="checkbox" name="approved" id="approved-<%= book._id %>" value="<%= book._id %>" class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
                              <label for="approved-<%= book._id %>" class="ml-2 block text-sm text-gray-900 cursor-pointer mb-0">
                                  Title: <%= book.title %>
                              </label>
                          </div>
                      <% }); %>
                  </div>
                
                  <div class="mt-4">
                      <label for="takeDate" class="block text-sm font-medium text-gray-700"><strong>Choose a date:</strong></label>
                      <input type="date" id="takeDate" name="takeDate" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                  </div>
                
                  <button id="confirmDateBtn" type="submit" >
                      Confirm creation
                  </button>
              </form>
              </div>
            </div>
            
        <% } %>
   

  </div>
</div>
    
        
    </div>

    <%- include("../partials_readers/footer.ejs") %>
    <script src="/js/librarian-role.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/general-slider.js"></script>
</body>
</html>
