<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        #datePicker {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
    </style>
    <title>Request page</title>
</head>
<body>

    <% if (error) { %>
        <div class="alert alert-danger">
            <li><%= error %></li>
        </div>
    <% } %>

    <div class="container">
        <h1>Request details</h1>
        <p><%= request.reader.gmail %></p>
        <p><%= request.createdOn %></p>
        <p><%= request.status %></p>
        <h2>Books</h2>
        <ul>
            <% request.books.forEach(book => { %>
                <li>
                    <label onclick="window.location.href='/librarian/book_detail/<%= book._id %>'">
                        <p>Title: <%= book.title %></p>
                        <p>Author: <%= book.author %></p>
                        <!-- Add more details as needed -->
                    </label>
                </li>
            <% }); %>
        </ul>

        <% if (request.status === 'Pending') { %>
            <button id="acceptBtn" class="btn btn-success">Accept</button>
            
            <form action="/librarian/request/decline/<%= request._id %>" method="POST">
                <textarea name="declineReason" id="declineReason" cols="30" rows="10"></textarea>
                <button id="declineBtn" class="btn btn-danger">Decline</button>
            </form>
        
            <form action="/librarian/request/accept/<%= request._id %>" method="POST" id="datePicker">
                <button type="button" id="closeBtn" style="float: right;">X</button>
        
                <ul>
                    <% request.books.forEach(book => { %>
                        <li>
                            <input type="checkbox" name="approved" id="approved" value="<%= book._id %>">
                            <p>Title: <%= book.title %></p>
                        </li>
                    <% }); %>
                </ul>
        
                <label for="takeDate">Choose a date:</label>
                <input type="date" id="takeDate" name="takeDate">
                <button id="confirmDateBtn" class="btn btn-primary">Confirm creation</button>
            </form>
        <% } %>
    </div>
    <script>
        document.getElementById("acceptBtn").addEventListener("click", function(event){
            // Prevent the form from being submitted
            event.preventDefault();

            // Display the datePicker div
            document.getElementById("datePicker").style.display = "block";
        });

        document.getElementById("closeBtn").addEventListener("click", function() {
        // Hide the datePicker div
            document.getElementById("datePicker").style.display = "none";
        });
    </script>
</body>
</html>
