
<!-- Partial div for all roles -->
<main id="main-section">
    <% if ( !user || user.__t === "Reader" ) { %>
    <div class="breadcrumbs_container">
        <nav class="breadcrumbs">
            <a href="/homepage" class="breadcrumbs__item">Home</a>
            <a href="/reader/library-profile/<%= book.library._id %>" class="breadcrumbs__item"><%= book.library.username %></a> 
            <a href="/reader/book_detail/<%= book._id %>" class="breadcrumbs__item is-active"><%= book.title %></a> 
        </nav>
    </div>
    <% }; %>

    <div class="container grid grid-cols-6">
        <div class="book-image col-span-6 sm:col-span-6 md:col-span-2 lg:col-span-2 xl:col-span-2 text-center">
            <div class="grid grid-cols-6">
                <img src="/<%= book.cover_1 %>" class="col-span-6" alt="<%= book.title %> Cover">
                <div class="book-carousel col-span-6 grid grid-cols-6">
                    <% if (book.cover_1) { %>
                        <div class="book-carousel-item col-span-2">
                            <img src="/<%= book.cover_1 %>" alt="<%= book.title %> Cover 1">
                        </div>
                    <% } %>
        
                    <% if (book.cover_2) { %>
                        <div class="book-carousel-item col-span-2">
                            <img src="/<%= book.cover_2 %>" alt="<%= book.title %> Cover 2">
                        </div>
                    <% } %>
        
                    <% if (book.cover_3) { %>
                        <div class="book-carousel-item col-span-2">
                            <img src="/<%= book.cover_3 %>" alt="<%= book.title %> Cover 3">
                        </div>
                    <% } %>
                </div>
            </div>
            
        </div>

        

        <div class="description col-span-6 sm:col-span-6 md:col-span-4 lg:col-span-4 xl:col-span-4">
            <div>
                <h1 id="book-title"><span class="title-text"><%= book.title %></span></h1>
                <p id="author"><strong>Author:</strong> <%= book.author %></p>

                <p class="category"><strong>Category:</strong> <%= book.category %></p>
                <p class="publish-date"><strong>Publish Date:</strong> <%= book.publishDate.toLocaleDateString() %></p>
                <p class="book-description"><strong>Description:</strong> <%= book.description %></p>
                <p class="quantity"><strong>Quantity:</strong> <%= book.amount %></p>
                <p class="available"><strong>Available:</strong> <%= book.available %></p>
            </div>
            <div class="buttons">
                <% if (user && user.__t === "Reader") { %>
                <!-- Reader-specific content -->
                <div class="reader-buttons">
                    <div class="cart-btn">
                        <form class="form" action="/reader/add-cart/<%= book._id %>" method="POST">
                            <button class="btn" type="submit">Add to Cart</button>
                        </form>
                    </div>

                    <div class="wishlist-btn">
                        <form class="form" action="/reader/wishlist/<%= book._id %>?action=add" method="POST">
                            <button class="btn" type="submit">Add to Wishlist</button>
                        </form>
                    </div>
                </div>

                <% } else if (user && user.__t === "Librarian") { %>
                <!-- Librarian-specific content -->
                <div class="librarian-buttons">
                    <div class="edit-btn">
                        <button data-modal-target="#pop-up-editBook" id="editButton" class="btn">
                            Edit book
                        </button>
                    </div>
                    
                    <div id="overlay"></div>

                    <div class="delete-btn">
                        <form class="form" method="POST" action="/librarian/book_detail/delete/<%= book._id %>" onsubmit="return confirm('Are you sure you want to delete this book?');">
                            <button class="btn" type="submit">Delete book</button>
                        </form>
                    </div> 
                </div>
                <% } else { %>
                    <!-- Default content for other roles or unauthenticated users -->
                <% } %>
            </div>
 
        </div>       
    </div>
    
</main>

    


