<div id="header">
    <a href="/homepage" id="logo">
        <h1>VXNHE</h1>
    </a>

    <% if (user) { %>
    <div id="account">
        <button data-modal-target="#pop-up-bookmark" id="book-mark">
            <i class="fa-regular fa-bookmark"></i>
        </button>
        <div id="overlay"></div>
        <!-- pop up window for bookmark -->
        <div class="pop-up-modal" id="pop-up-bookmark">
            <div class="bookmark-header">
                <a href="/reader/profile/#my-wishlist" class="title">Wishlist</a>
                <button data-close-button class="close-modal">&times;</button>
            </div>
            <div class="center">
                <div class="list">
                    <% if (user.wishList &&  user.wishList.length > 0) { %> 
                        <% wishList.forEach( book => { %>
                        <div class="item">
                            <% if (book.coverImages && book.coverImages.length > 0) { %>
                                <div class="img">
                                    <img src="/<%= book.coverImages[0] %>" alt="<%= book.title %>'s Cover">
                                </div>
                            <% } else { %>
                                <div class="img">
                                    <img src="images/default-book.png" alt="Default cover">
                                </div>
                            <% } %>

                            <div class="content">
                                <div class="title"><%= book.title %></div>
                                <div class="des">
                                    <%= book.description %>
                                </div>
                                <button class="remove" data-bookid="<%= book._id %>"><i class="fa-solid fa-trash"></i></button>
                                <a id="view-detail" href="/reader/book_detail/<%= book._id %>">View</a>
                            </div>
                        </div>
                        <% }) %>
                    <% } else { %>
                        <div id="empty-bookmark">Empty</div>
                    <% } %>
                </div>
            </div>
        </div>

        <button data-modal-target="#pop-up-notification" id="notification">
            <i class="fa-regular fa-bell"></i>
        </button>
        <!-- pop up window for notification -->
        <div class="pop-up-modal" id="pop-up-notification">
            <div class="notification-header">
                <div class="title">Notification</div>
                <button data-close-button class="close-modal">&times;</button>
            </div>
            <div class="center">
                <div class="list">
                    <div class="item">
                        <div class="img">
                            <img src="" alt="">
                        </div>
                        <div class="content">
                            <div class="title">THE DIARY OF A YOUNG GIRL has just been added</div>
                            <button class="check"><i class="fa-solid fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <% if (user.profilePicture) { %>
                <img src="/<%= user.profilePicture %>" alt="Reader Avatar" id="account_img">
            <%} else {%>
            <img src="images/default-ava.png" alt="Reader Avatar" id="account_img">
            <% } %>
            <div id="account-hovering">
                <div id="content">
                    <h3 id="account-name">Hello, <%=user.username%></h3>
                    <a href="/reader/profile" id="my-account">My Account</a>
                    <a href="/checkin/logout" id="logout">Logout</a>
                </div>
            </div>
        </div>


        <% } else { %>
        <div id="header-btns">
            <a href="/checkin/login">
                <div id="login">Login</div>
            </a>
            <a href="/checkin/register">
                <div id="register">Join</div>
            </a>
        </div>
        <% } %>
    </div>
</div>
